@tailwind base;
@tailwind components;
@tailwind utilities;

/* DARK THEME CONFIGS */
:root {
  --background: #1a1a1e;
  --foreground: #ffffff;
  --topbar: #353a41;
  --container: #28282a;
  --hovertoptext: #cccecf;
  --tooltip: #1e1e21;
}

/* LIGHT THEME CONFIGS */
@media (prefers-color-scheme: light) {
  :root {
    --background: #e4e4e1;
    --foreground: #313131;
    --topbar: #cac4bf;
    --container: #d6d6d5;
    --hovertoptext: #000000;
    --tooltip: #dadad8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: auto;
  position: relative;
  top: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  background: var(--topbar);
}

footer {
  background: var(--topbar);
}

@layer utilities {
  /* TYPOGRAPHY ASSETS */
  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-semibold {
    @apply text-[18px] font-semibold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-large-bold {
    @apply text-[17px] font-bold leading-[140%] tracking-tighter;
  }

  .small-large-semibold {
    @apply text-[17px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-large {
    @apply text-[17px] font-normal leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-large {
    @apply text-[12px] font-medium leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  /* COLOR UTILITIES */
  .color-foreground {
    color: var(--foreground);
  }
  .color-hovertoptext {
    color: var(--hovertoptext);
  }

  /* TOPBAR */
  .topbar {
    @apply flex relative items-center justify-between px-4 pt-1 z-[5];
  }
  .topbar-logo {
    @apply w-[186px] h-[60px] z-[6];
  }
  .topbar-icon {
    @apply w-[40px] h-[30px] pb-1;
  }

  .topbar-link {
    @apply mx-2 color-foreground hover:color-hovertoptext;
  }

  /* MAIN CAROUSEL */
  .slider-arrow {
    @apply absolute z-[4] flex items-center justify-center w-8 h-8 text-white bg-black/50 rounded-full -translate-y-1/2 top-1/2 focus:outline-none;
  }

  .custom-dots {
    @apply w-2 h-2 rounded-full bottom-2.5;
  }

  /* MAIN FILTER */
  .bar-container {
    @apply flex flex-col flex-1 w-full h-full items-center py-2 sm:px-2;
  }

  .filters {
    @apply w-full mb-5 px-4 sm:py-4 bg-topbar sm:rounded;
  }

  .filter-list {
    @apply flex flex-wrap flex-1 h-full items-center justify-center s768:gap-1;
  }

  .filter-icon {
    @apply max-w-10 max-h-10 p-[5px] hover:p-[3px] s768:p-[2px] s768:hover:p-0 cursor-pointer transition-all;
  }

  .filter-divider {
    @apply bg-gray-500 w-full h-[1px] my-[5px] s768:w-[1px] s768:h-[40px] s768:my-0 s768:mx-5;
  }

  .filter-tooltip {
    @apply bg-tooltip py-1 px-2 rounded shadow-lg;
  }

  .filter-divider-2 {
    @apply bg-gray-500 w-full h-[1px] my-[5px] s1024:w-[1px] s1024:h-[40px] s1024:my-0 s1024:mx-5;
  }

  /* MAIN PAGE */
  .main-container {
    @apply flex flex-col mx-auto w-[100vw] sm:w-[90%] s1280:w-[80%];
  }

  .banner-container {
    @apply bg-container overflow-x-hidden mx-auto my-4 w-full h-[8rem] s375:h-[9rem] s425:h-[11rem] s720:h-[15rem]
    s768:h-[16rem] s1024:h-[21rem] s1280:h-[22rem] s1366:h-[24rem] s1440:h-[25rem] s1920:h-[33rem] sm:px-2 sm:rounded-lg;
  }

  .teams-container {
    @apply bg-container w-full overflow-x-hidden sm:rounded-lg mb-4;
  }

  .teams-column {
    @apply flex flex-col h-full w-full;
  }

  .all-teams {
    @apply flex flex-1 flex-wrap h-full w-full justify-evenly gap-2;
  }

  /* TEAM OBJECT */
  .team-item {
    @apply flex flex-row bg-topbar w-full rounded items-center justify-center p-2
    s720:flex-col s720:w-fit;
  }

  .team-divider {
    @apply bg-gray-500 w-[1px] h-full m-[5px] s720:w-full s720:h-[1px];
  }

  .heroes-container {
    @apply flex flex-wrap flex-1 h-full w-full items-center justify-evenly my-3;
  }

  .hero-portrait {
    @apply relative;
  }

  .attribute-icon {
    @apply absolute rounded-full top-[-0.5rem] right-[-0.5rem] bg-topbar p-0.5 z-10;
  }

  .character-divider {
    @apply bg-gray-500 h-[1px] w-[80%] s720:my-3 s375:hidden s720:block;
  }

  /* CHARACTER BACKGROUNDS */
  .character-bg-lr {
    @apply bg-gradient-to-t from-slate-400 to-slate-100;
  }

  .character-bg-ur {
    @apply bg-gradient-to-t from-rose-400 via-red-300 to-red-100;
  }

  .character-bg-ssr {
    @apply bg-gradient-to-t from-cyan-400 to-cyan-100;
  }
}
